/*Welcome*/
body{margin:0; width:100vw; padding:0; font-family:'CustomBaskerville'; word-break:break-word; font-stretch:normal; font-weight:400; background-image:-webkit-radial-gradient(top right,  #004d46, #18272c); margin: 0;    background-repeat: no-repeat;    background-attachment: fixed;}

/* Header */ 
header{margin:0 0 5px 0;}
header a{color:rgb(148, 204, 218); text-decoration: none; border-top-right-radius:5px; border-top-left-radius: 5px;}
header h1{font-size:35px; letter-spacing:15px; text-align:center; margin:0; 
  font-style:oblique; text-shadow:2px 2px black; color:rgb(148, 204, 218); background-image:-webkit-image-set(top, #2b7a78, white); user-select:none; -moz-user-select: none;}
.HeadBox{margin:0; padding:2px 0 15px 0; background-image:-webkit-radial-gradient(bottom right,  #004d46, #19282d); position: relative;}
#Those{transform:translateX(-35px); display:block; margin-bottom:3.5px; margin:20px 0 15px 0;}
#AreThe{font-size:13px; margin: 0; display:block; }
#Facts{transform:translateX(25px); display:block; margin-bottom:-4px; margin-top:3.5px; margin:15px 0 10px 0;}

#HeadSider1{position:absolute; color:#0e746e; top:0; right:25px; letter-spacing:2px;}
#HeadSider2{position:absolute; color:rgb(148, 204, 218);  top:18px; right:25px; letter-spacing:2px;}

/*!NAV NAV NAV NAV NAV */ 
.NavGrid{background-color:#0f4947; margin:0;    display:grid;  grid-template-columns: 1fr 1fr 1fr;  text-align:center;  font-size:17px; }
.NavGrid span{font-size:18px;font-weight: bold; color:#17252a;}
    /*?Links*/
.NavGrid a{ color:#def2f1; text-decoration:none; padding:7.5px 0;  text-shadow:0px 3px black;  border-bottom:1.1px solid white;
border-top-right-radius:5px; border-top-left-radius:5px; }
.NavGrid a:hover{background-color:#17252a; border:1px solid white; transition: all .8s ease; border-bottom:none;}
#CurrentNav{color:#def2f1;  font-weight:bold; background-color:#17252a;  border:1px solid white; border-bottom:none; border-left:none; border-right:none; border-top-right-radius:4px; opacity:1;}
#OtherNav{border-bottom-left-radius:2.5px; border-left:1px solid; white;}
#OtherNav:hover{border-left:none;border-top:1px solid white; }
#NavOver:hover{border-right:1.95px solid white; transform: translateX(2.2px);}
#LeftNav{border-right:none;}
#CurrentNavNews{background-color:#152227;  border:1px solid rgb(218, 248, 255); border-bottom:none;}
#NavOver{border-left:none;}

#TopSub{font-size:16px; text-align:center;letter-spacing:2.3px;cursor:default;}
#TopSub span{color: rgb(102, 211, 238); }


/*NewsBox*/
.Top{background-color:#17252a; border-bottom:1.2px solid white; border-right:1.2px solid white; width:100%; padding:15px 0 55px 0; color:white; }
.HotOverview{position: relative; margin:0 auto; }
summary::-moz-list-bullet {list-style-type: none; display: block;}
summary{cursor:pointer; outline:none; user-select:none; -moz-user-select: none;}
.HotOverview a{color:rgb(28, 166, 184); text-decoration:none;}
.HotOverview a:hover{text-decoration:underline;}
.HotOverview b{color:rgb(23, 175, 177); }


.HotNews{width:60%; margin:45px auto 0 auto ; color:#ffffff }
.HotNews summary::-webkit-details-marker {  display:none; }
.HotNews details{text-align: center; line-height:22px;   }
.HotNews summary h2{font-size:15.4px; letter-spacing:3px; font-weight:300; margin-bottom:25px; }
.HotNews summary:hover{text-decoration:underline; color:rgb(101, 237, 255)}
.HotNews summary:focus{color:rgb(79, 197, 213); -webkit-text-stroke:.1px black;}

.Hot summary::-webkit-details-marker {  display:none; }
/* hides arrows in firefox*/ 
.HotNews p{text-decoration:none; color: rgb(177, 167, 167); font-size:15px; margin:0 20px;}
/*.HotNews p:hover{color:rgb(189, 184, 48); } /* border-bottom:.3px solid rgb(233, 233, 154); padding-bottom:1px;*/
/* .HotNews span{ color:rgb(243, 231, 160); }  */

/*#HotSiderNews{  position:absolute;  top:-40px;  left:17%; 
  font-size:27px; transform: rotate(-2deg); color:rgba(255, 255, 0, 0.445); }*/
#TodaysNews{color:rgba(255, 255, 0, 0.53); font-size:19px; text-align:center;
margin:50px 21px 45px 0; letter-spacing:2px; transform: rotate(-2deg); user-select:none; -moz-user-select: none;
}


/*FOOTER */
footer p{color:rgba(255, 255, 255, 0.466); text-align:center; }
footer span{color:rgb(119, 118, 51); }
footer #FooterSlogun{color:rgb(148, 69, 69);   font-size:17px; }
footer #FooterSlogun span{font-size:18px; font-style:oblique; color:white;}
footer marquee{  font-size:17px;  color:rgb(131, 53, 53);width:30%;  margin:0 auto;  display:block;  padding-bottom:5px;  text-shadow:1px 1px black;}

/* ! SEC-1 SEC-1 SEC-1 */
#TopTitle{font-size:23px; margin:29px 0 0 0; text-align:center;letter-spacing:4.5px; user-select:none; -moz-user-select: none; }
#TopTitleContro{font-size:37px; margin:0; text-align:center;letter-spacing:22.5px; font-weight:500; line-height:77px; user-select:none; -moz-user-select: none; }

#TopSubTitle{font-size:16px; text-align:center;padding:2px 0 40px 0; letter-spacing:2.3px;  border-bottom:2px solid white; }
#TopSubTitle span{color:rgb(172, 172, 13);}

.SecondNav{display:grid; grid-template-columns: 1fr 1fr; text-align:center; margin:85px auto -28px auto ; 
width:25%; }
.SecondNav a{text-decoration:none; color:rgb(5, 130, 86);  }
.SecondNav a:hover{border-bottom:1px solid rgba(255, 255, 255, 0.34); padding-bottom:1px;  transition: all .4s ease;}





@media screen and (max-width:600px){
  .HotNews{margin-top:25px;}
  #HotSiderNews{font-size:15.5px; top:-42px; left:-22px; }}

@media screen and (min-width:1300px){#CurrentNavHistory{border-left:1px solid white;}}


/*additional divs coordinated in@media below them*/
.EntirePage{width:100vw; margin:0 auto; } 
#NavOver{border-right:none;} 
#CurrentNavOver{background-color:#17252a;  border:1.2px solid white; border-bottom:none; transform: translateX(2.1px);}

@media screen and (min-width:790px){.HotNews{width:67%;}}
@media screen and (min-width:880px){.HotNews{width:67%;}}
@media screen and (min-width:1080px){.HotNews{width:70%;} }
@media screen and (min-width:1200px){.HotONews{ width:75%;} }



/*remember to set max-width to 600(or x) / 2 (from 50vw OR vw/100*10) */
@media screen and (max-width:300px){  .EntirePage{width:50vw;}  #TopTitle{letter-spacing:12px; font-size:29px; line-height:50px; margin:15px 0 15px 0; }  #TopTitleContro{letter-spacing:10px; font-size:22px; line-height:50px;}  #TopSubTitle{font-size:12.4px;}  .Hot summary h2{font-size:14px; letter-spacing:3px; font-weight:300;}  .NavGrid a{font-size:12px; padding:8px 0;}  #HotMore{font-size:18px; white-space: nowrap;}  .Top{ solid white; border:.4px solid white; border-top:none; }  #CurrentNav{border-left:.4px solid white; }}

@media screen and (min-width:1300px){  .EntirePage{width:80vw;}  .Top{ border:1.2px solid white; border-top:none;  } #CurrentNav{border-left:1.2px solid white;}}

@media screen and (max-width:1300px){  .EntirePage{width:92vw;}  .Top{ border:1.2px solid white; border-top:none;  } #CurrentNav{border-left:1.2px solid white;}}

