/* https://itnext.io/12-vs-code-extensions-you-should-consider-using-4747e6281ee
*/
body{margin:0; width:100vw; padding:0; font-family:'CustomBaskerville'; word-break:break-word; font-stretch:normal; font-weight:400; background-image:-webkit-radial-gradient(top right,  #004d46, #18272c); margin: 0;    background-repeat: no-repeat;    background-attachment: fixed;}

@font-face{  font-family:'CustomBaskerville';   src: url("../../../Font/Basker/Best/baskvl.ttf");}

/* ? H E A D E R */ 
/*possible: floating lotus leafs in header (absolute positions)*/ 
.HeadBox{margin:0; padding:2px 0 15px 0; background-image:-webkit-radial-gradient(bottom right,  #004d46, #19282d); position: relative;}
header h1{font-size:35px; letter-spacing:15px; text-align:center; margin:0; 
font-style:oblique; text-shadow:2px 2px black; color:rgb(148, 204, 218); background-image:-webkit-image-set(top, #2b7a78, white); user-select:none; -moz-user-select: none;}
header a{color:rgb(148, 204, 218); text-decoration: none; border-top-right-radius:5px; border-top-left-radius: 5px;}
#Those{transform:translateX(-35px); display:block; margin-bottom:3.5px;}
#AreThe{font-size:13px; margin: 0 0; display:block;}
#Facts{transform:translateX(25px); display:block; margin-bottom:-4px; margin-top:3.5px;}

#HeadSider1{position:absolute; color:#0e746e; top:0; right:25px; letter-spacing:2px;}
#HeadSider2{position:absolute; color:rgb(148, 204, 218);  top:18px; right:25px; letter-spacing:2px;}


/*!NAV NAV NAV NAV NAV */ 
.NavGrid{background-color:#0f4947; margin:0;    display:grid;  grid-template-columns: 1fr 1fr 1fr;  text-align:center;  font-size:17px; }
.NavGrid span{font-size:18px;font-weight: bold; color:#17252a;}
    /*?Links*/
.NavGrid a{ color:#def2f1; text-decoration:none; padding:7.5px 0;  text-shadow:0px 3px black;  border-bottom:1.1px solid white;
border-top-right-radius:5px; border-top-left-radius:5px; }
.NavGrid a:hover{background-color:#17252a; border:1px solid white; transition: all .8s ease; border-bottom:none;}
#CurrentNav{color:#def2f1;  font-weight:bold; background-color:#17252a;  border:1px solid white; border-bottom:none; border-left:none; border-right:none; border-top-right-radius:4px; opacity:1;}
#OtherNav{border-bottom-left-radius:2.5px; border-left:1px solid; white;}
#OtherNav:hover{border-left:none;border-top:1px solid white; }
#NavOver:hover{border-right:1.95px solid white; transform: translateX(2.2px);}

/* ! SEC-1 SEC-1 SEC-1 */
.Top{background-color:#17252a; border-bottom:1.2px solid white; border-right:1.2px solid white; width:100%; padding:15px 0 55px 0; color:white; }
#TopTitle{font-size:37px; margin:0; text-align:center;letter-spacing:22.5px; font-weight:500; line-height:77px; user-select:none; -moz-user-select: none; }
#TopTitleContro{font-size:37px; margin:0; text-align:center;letter-spacing:22.5px; font-weight:500; line-height:77px; user-select:none; -moz-user-select: none; }

#TopSubTitle{font-size:16px; text-align:center;padding:2px 0 40px 0; letter-spacing:2.3px;  border-bottom:2px solid white; }
#TopSubTitle span{color:rgb(172, 172, 13);}

#Divider{padding:14px 0; border-top:2px solid white; margin-top:42px; border-bottom:2px solid white;  }

.Hot{margin:45px 0 0 0; padding:30px; border-top:2px solid white; }
.HotOverview{position: relative; margin:0 auto; width:60%;}
#HotSider{position:absolute; font-size:19.5px; top:-42px; left:20px; transform:rotate(-5deg); color:yellow; letter-spacing:1.2px;}
.Hot summary::-webkit-details-marker {  display:none; }
/* hides arrows in firefox*/ summary::-moz-list-bullet {list-style-type: none; display: block;}
.Hot details{text-align: center; }
.Hot summary h2{font-size:25px; letter-spacing:3px; font-weight:300; }
.Hot summary:focus{color:rgba(196, 196, 21, 0.37);}
.Hot summary:hover{color:rgba(179, 179, 19, 0.795);}
#HotMore{text-align:center; font-size:27.5px; }
.Hot a{color:#0e6381;  text-decoration:none; 
   font-style:oblique; font-size:17px;color:#0e6381;  letter-spacing:2px; font-weight:400; -bottom:25px; }

.Hot a:hover{text-decoration: underline;}
.Hot a span{text-shadow:none;}
summary{cursor:pointer; outline:none; user-select:none; -moz-user-select: none;}
              
::-webkit-scrollbar {  width: 15px;  height:15px; }
::-webkit-scrollbar-track {  background: #f1f1f1;  }
::-webkit-scrollbar-thumb {
  background-image:-webkit-linear-gradient(bottom, #17252a, #2b7a78);  /*background: #888; */}
::-webkit-scrollbar-thumb:hover {  background: #555;  }

@media screen and (min-width:790px){.HotOverview{width:55%;}}
@media screen and (min-width:880px){.HotOverview{width:45%;}}
@media screen and (min-width:1080px){ .HotOverview{width:37%;} }
@media screen and (min-width:1200px){ .HotOverview{ width:30%;} }

/*additional divs coordinated in@media below them*/
.EntirePage{width:100vw; margin:0 auto; } 
#NavOver{border-right:none;} 
#CurrentNavOver{background-color:#17252a;  border:1.2px solid white; border-bottom:none; transform: translateX(2.1px);}

@media screen and (min-width:1300px){  .EntirePage{width:80vw;}  .Top{ border:1.2px solid white; border-top:none;  } #CurrentNav{border-left:1.2px solid white;}}

/*remember to set max-width to 600(or x) / 2 (from 50vw OR vw/100*10) */
@media screen and (max-width:300px){  .EntirePage{width:50vw;}  #TopTitle{letter-spacing:12px; font-size:29px; line-height:50px; margin:15px 0 15px 0; }  #TopTitleContro{letter-spacing:10px; font-size:22px; line-height:50px;}  #TopSubTitle{font-size:12.4px;}  .Hot summary h2{font-size:15px; letter-spacing:3px; font-weight:300;}  .NavGrid a{font-size:12px; padding:8px 0;}  #HotMore{font-size:18px; white-space: nowrap;}  .Top{ solid white; border:.4px solid white; border-top:none; }  #CurrentNav{border-left:.4px solid white; }  #HotSider{font-size:15.5px; top:-40px; left:-22px; }}

