
#LeftNav{border-right:none;}
/* NavOVer is at index3.css (main css)*/

#TopSubTitleOver{font-size:16px; text-align:center;letter-spacing:2.3px; padding-bottom:10px;  }
#TopSubTitleOver span{color:rgba(172, 172, 13, 0.685); font-size:17px; text-decoration: line-through;}
#Tester{ text-align:center; }

.HotOver{width:100%;}
.HotOverview{position: relative; margin:0 auto; }
#HotSiderOver{  position:absolute;  top:-49px;  left:-7px;;
  font-size:17px; transform: rotate(-2deg); color:
#066661; }

.HotOverview{text-align:center;}
.HotOver a{font-size:17px; text-decoration:none; 
letter-spacing:1px; font-weight:300; color:white; padding-bottom:17px; display:block; }
.HotOver a:hover{color:rgba(19, 166, 185, 0.795); }

#More{color:rgba(100, 172, 17, 0.514); }
#More:hover{color:yellow;}

.MainGrid{margin-top:95px;display:grid;grid-template-columns: 1fr 1fr 1fr;}
  
@media screen and (max-width:600px){  .HotOver{margin-top:25px;}  .HotOver a{font-size:14px; }  #HotSiderNews{font-size:15.5px; top:-42px; left:-22px;}
  .MainGrid{ margin-top:15px;}  }