#CoverImageSmile{
    color:#fff;
    opacity:.82;
    border-bottom:2px solid rgb(231, 186, 60);
    text-align:center;
    background-image: url(Smile3.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 15px;
    padding:15px 0 ;
    -webkit-animation: backgroundScroll 15s linear 1;
    -webkit-animation-fill-mode: forwards;
    animation: backgroundScroll 10s linear 1;
    animation-fill-mode: forwards;
    border-bottom-left-radius: 11px; 
    border-bottom-right-radius: 11px;;
}

#SubTitle2{
    font-size:14.5px;
    color:rgb(83, 83, 83);
    margin:15px auto 10px auto;
    width:50%;
    letter-spacing:1.5px;;
}

@-webkit-keyframes backgroundScroll {
from {background-position: -210px -110px }
to {background-position: -210px -215px  }
}

@media only screen and (min-width:870px) {
    #CoverImageSmile{ 
        animation: backgroundScroll-2 10s linear 1;
        animation-fill-mode: none;
        animation-fill-mode: forwards;
    }
 @-webkit-keyframes backgroundScroll-2 {
    from {background-position: 0px -110px }
    to {background-position: 0px -215px  }
    }
}

@media only screen and (min-width:1050px) {
    #CoverImageSmile{ 
        animation: backgroundScroll-3 10s linear 1;
        animation-fill-mode: none;
        animation-fill-mode: forwards;
    }
 @-webkit-keyframes backgroundScroll-3 {
    from {background-position: 0px -120px }
    to {background-position: 0px -250px }
    }
}


@media only screen and (min-width:1200px) {
    #CoverImageSmile{ 
        animation: backgroundScroll-4 10s linear 1;
        animation-fill-mode: none;
        animation-fill-mode: forwards;
    }
 @-webkit-keyframes backgroundScroll-4 {
    from {background-position: 0px -150px }
    to {background-position: 0px -235px }
    }
}


@media only screen and (min-width:1400px) {
    #CoverImageSmile{ 
        animation: backgroundScroll-5 10s linear 1;
        animation-fill-mode: none;
        animation-fill-mode: forwards;
    }
 @-webkit-keyframes backgroundScroll-5 {
    from {background-position: 0px -250px }
    to {background-position: 0px -350px }
    }
}




.Fun-Home h2{
    color:rgb(100, 100, 100); 
    font-size:18.5px;
    margin:0 auto; 
    width:90%; 
}

.Fun-Home{
    padding-top:22px;
}


.Youtube-Videos{
    display:grid; 
    grid-template-columns: 1fr 1fr;
    width:79%; 
    grid-gap: 25px;
    padding:15px 0 20px 25px;
    padding-left:25px;
    margin:0;
}


.Youtube-Videos iframe{
width:250px; 
 height:140.625px;
 margin:0;
 border-radius:5px;
}

.Medium-Blogs{
    display:grid; 
    grid-template-columns: 1fr 1fr 1fr;
    width:79%; 
    grid-gap:15px;
    padding:27px 0 15.5px 25px ;
}

.Medium-Blogs img{
    width:100%;
    border-radius:10px; 
}


.Container {
    position: relative;
    margin:0 auto 0 auto; 
  }
  
.Blog-Feature-Image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition:.9s ease;
    backface-visibility: hidden;
}

  .Image-Overlay {
    position: absolute;
  top: 0;
  bottom:-5px;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  transition: .6s ease;
  /*background-image:-webkit-linear-gradient(bottom, rgba(245, 151, 237, 0.411), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)); */
  background-image:-webkit-linear-gradient(top, white, 
  rgba(255, 188, 157, 0.918),rgba(255, 188, 157, 0.918),
  rgba(255, 188, 157, 0.918),
  rgba(253, 205, 183, 0.918) );
  margin-bottom:5px;
  border-radius:9px;
}

.Medium-Blogs a{
    font-family: 'Dancing Script', cursive;
}

.Medium-Blogs p{
    width:88%; 
    margin:0 auto; 
    color:rgb(105, 8, 63);
    text-shadow: .1px .1px black;
    font-size:12px; 
    font-style: oblique;
    margin-bottom:8px;
}

.Medium-Blogs h3{
    color:rgb(250, 136, 201);
    text-shadow:1px 1px black;
    font-weight: 550;
    font-size:15px;
    margin:0 auto;
    padding:0 1.4px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

  
.Container:hover .Blog-Feature-Image {
    background:black;
}
.Container:hover .Image-Overlay {opacity: 1; }


.Caption {
width:100%;
text-align:center;
bottom:0;
position:absolute;
opacity:1;
}

@media only screen and (min-width: 900px) {
.Caption{
    bottom:22px;

}

.Fun-Home{  
    width:55%; margin:0 auto;}
.Medium-Blogs{
    grid-gap:25px;
    padding-left:52px;
}
.Youtube-Videos{
    margin-top:14px;
    margin-left:27px;
}

}

.Memes p{
    padding-left:45px;
    font-style:oblique;
    text-shadow:.7px .7px rgb(215, 179, 226);
    color: rgb(63, 63, 63); 
}

.Cooking-Journeys-Recipes p{
    padding-left:45px;
    font-style:oblique;
    color: rgb(63, 63, 63); 
    text-shadow:.7px .7px rgb(213, 175, 224);
}

@media only screen and (max-width:670px) {
    .Caption p{
        display:none; 
    } 


}
@media only screen and (min-width:1080px) {
    .Youtube-Videos iframe{
        width:350px;
        height:196.8px}
        .Youtube-Videos{
            grid-template-columns: 1fr 1fr; 
        }

        nav-3{
            margin:0 auto; 
            width:67%;
        }
    
    }
