html{font-size:1.5vw;}
:root{ color:white;}
body{margin:0; padding:0; cursor:default;
color:rgb(190, 180, 180);
font-family:'CustomBaskerville'; 
background-image:-webkit-radial-gradient(top right, 
#17252a, #214a58);    margin: 0; background-repeat: no-repeat;background-attachment: fixed; }

header h1{font-size:3.2em; letter-spacing:12px; font-weight:500; text-align:center; margin:32px 0 43px 0; text-shadow:1.2px 1.2px black;
transition:ease 3s all;}

@font-face{  font-family:'CustomBaskerville';   src: url("../../../Font/Basker/Best/baskvl.ttf");}


.NavGrid{margin:0; width:100%; display:grid;  grid-template-columns: 1fr 1fr 1fr;  text-align:center; grid-gap:5px;  font-size:17px;  border-bottom:1px solid white; margin-bottom:48px;}
.NavGrid a{ color:#def2f1; text-decoration:none; padding:7.5px;  text-shadow:0px 3px black;; }
.NavGrid a:hover{font-weight: bold;}

.MainGrid{display:grid;  grid-template-columns: 1.4fr .1fr;   grid-gap:15px; }
.Mid p{font-size:1.08em; margin:0;  margin-left:35px; text-shadow:1.2px 1.2px black;}
.Description p{   font-size:1.35em;}
.Description i{  color:rgb(134, 134, 247);   text-shadow:none;   letter-spacing:.4px;   }

#SubHead{font-size:1.25em; font-weight:bold;  font-weight:300; color:rgb(111, 197, 197); text-shadow:3px 3px black; margin-left:-15px; padding:0; }
.Mid{  display: grid;  grid-template-columns: .29fr 1fr; }
.LeftBox{border-top:.5px solid white;  border-bottom:.5px solid white;} 
#Lefter{color:white;   font-weight:300;  text-decoration:none;  font-size:1.2em; cursor: default;  display:block; margin:0;  padding:18px 0 0 9px; letter-spacing:2px } 
.Mid>div{margin-bottom:45px;}

/*Care with crypto.html -> =/ made with summary/details but a */
#FactsContainer{ margin:-10px 0 -10px 0;  color:white; }
#FactsContainer details{ font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  padding:9px 0 9px 18px;  border:1px solid rgb(131, 182, 107);  font-style:oblique;    margin:15px 15px;  background-image:-webkit-linear-gradient(top left, rgb(107, 110, 104), rgba(255, 255, 255, 0.158));  transform: skewX(10deg);  border-radius:5px;}
#FactsContainer details u{text-decoration:none;  color:rgb(158, 224, 92);font-weight:600; }
#FactsContainer details a{color:rgb(145, 152, 235); text-decoration: underline;}
#FactsContainer details a:hover{color:rgb(92, 103, 224);}
#FactsContainer summary{letter-spacing:1px;  font-size:1.27em;  color:rgb(14, 255, 183); font-weight:600;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; padding:4px;  letter-spacing:1px;  color:rgb(14, 255, 183); outline:none; cursor:pointer;  text-shadow:1px 1px rgb(50, 68, 41);  transition:all 4s ease-out;}

#FactsContainer p{outline:none; cursor:text; color:white; font-size:1.1em; letter-spacing:.15em; text-shadow:none;}

#FactsContainer span{color:rgb(218, 213, 213) }
/*part of style is in html file bc of p{transition all 1s ease}*/
#FactsContainer a{text-decoration: none;}
#FactsSource{color:rgb(166, 166, 230); font-size:.9em; float:right; padding-right:55px;}

.Elaboration{font-size:1.25em;}

h3{font-size:1.3em;color:rgb(111, 197, 197); }
.Linkings{font-size:1.45em;    margin-left:45px;}  
.Linkings a{ color:rgb(182, 182, 223); text-decoration: none; line-height:1.8em;}
.Linkings a:hover{text-decoration:underline; color:rgb(162, 162, 250);}
.Linkings i{color:rgb(46, 169, 187);}


footer{  text-align:center;  padding-bottom:5px;}
footer a{  font-style:oblique;  font-size:2em;  color:White;  padding-bottom:15px;}

@media screen and (min-width:800px){html{font-size:1.3vw;}}
@media screen and (min-width:1200px){html{font-size:1vw;}}

::-webkit-scrollbar {  width: 15px;  height:15px; }
::-webkit-scrollbar-track {  background: #f1f1f1; }
::-webkit-scrollbar-thumb { border-top:1.5px solid rgb(0, 255, 255);
  background-image:-webkit-linear-gradient(bottom, #17252a, #2b7a78);  /*background: #888; */}
::-webkit-scrollbar-thumb:hover {  background: #555;  }