
#TravelPic{
    display:block;
    border-radius:7px;
    border:5px solid rgba(0, 0, 0, 0.514);
    width:79%;
    margin:12px auto;
}

.TravelTextGrid{
    width:75%; margin:0 auto 0 auto; display:block;
    color:rgb(187, 172, 172); 
}


.TravelTextGrid h2{ text-align:center; color:rgb(206, 193, 193); letter-spacing:2px; font-family: Georgia, 'Times New Roman', Times, serif;} 

.TravelTextGrid h3{font-size:17.5px; text-align:center; border-top:.5px solid rgb(212, 164, 164); padding-top: 10px;  width:14%; min-width:115px; margin:20px auto 5px auto; color:rgb(177, 70, 88); letter-spacing:.65px;}

.TravelTextGridSmaller{width:80%; margin:0 auto;}

.TravelTextGrid a:hover{ text-decoration:underline; }

#Crane{ 
    border-radius:3px;
    width:90%; 
    margin: 0 auto 15px auto;   
}

#SubPic{
    font-style:oblique; 
    text-align:center; 
    font-size:14px;
    color: rgb(101, 212, 226); 
}

@media only screen and (min-width:1150px) {
    .TravelTextGrid{
        width:57%; 
    }

    #TravelPic{width:70%;}
}  