
.WeekNews{padding-left:25px; text-align:left; display:grid; grid-template-columns: 1fr 1fr ; grid-column-gap:20px; grid-row-gap:3px;}
.WeekNews div{ margin: 0 auto;}
.WeekNews p{text-align:left; color:rgb(135, 135, 135); }
.WeekNews p:hover{color: rgb(165, 159, 112); color:rgb(135, 135, 135)}

.WeekNews span{font-size:15px; font-weight:normal; color: rgb(165, 159, 112);}
.WeekNews h2{font-size:15px; font-weight:normal; color: rgb(165, 159, 112);}
.WeekNews a{color:rgb(54, 165, 180); text-decoration:none; text-shadow:1px 1px rgb(25, 59, 117);  } 
.WeekNews a:hover{text-decoration:underline; }
.WeekNewsBox{padding-top:45px; margin:0 auto; width:70%; ; }

#WeeklyNewsTitle{color:rgba(255, 255, 0, 0.53); font-size:19px; text-align:center;
    margin:1px 21px 37px 0; letter-spacing:2px; transform: rotate(-2deg); user-select:none; -moz-user-select: none;
    }

.WeekNewsBox h3{text-align:center; 
    margin:15px 0 0 0; font-weight:normal; letter-spacing:2px;}
#WeekDay{
    margin:3px 0 8px 0 ; 
    font-size:15px; 
    text-align:center; color:rgb(173, 121, 24);
    letter-spacing:1px;
}



/*For 2020folder*/
#WeekNumber{text-align:center; font-size:21px; margin-bottom:35px; letter-spacing:1.8px;}
#WeekNumber span{ color: rgb(173, 121, 24); }


@media screen and (max-width:675px){    
    .WeekNewsBox{padding-top:45px; margin:0 auto; width:97%; ; }
}

@media screen and (max-width:475px){    
    .WeekNewsBox{ grid-template-columns:1fr;  }
}



